<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <h4>Comunicate con Nosotros</h4>
    <title>Comunicate con Nosotros</title>
    <p> A través de este formulario, usted podrá solicitar presupuestos o realizar las consultas que considere necesarias. Le pedimos que complete todos los datos que figuran en la pantalla y recuerde que en Radal estamos a su entera disposición</p>
    <div class="Contacto" style="margin-left: 25px;"> 
        <span style="font-size: 12;">Telefonos</span>
        <br>
        Fabrica: 
        <br>
        0261 4377888
        <br>
    </div>
    <div>
        <span>Direccion</span>
        <br>
        Showroom: O`Brien 32, esquina Costanera.  
        <br>
        Guaymallén - Mendoza 
        <br>
        <br>
         Fabrica 
        <br>
         Italia 89
        <br>
        Las Heras - Mendoza
     </div>
     <div>
        <span>Email</span>
        <br>
        radal.sa@hotmail.com
        <br>
     </div>
    
    
    <div class="formulario">
        <form>
            <input type="Nombre y Apellido" name="cliente" placeholder="Nombre y Apellido" required>
            <input type="email" name="email"  placeholder="Ingrese su mail" required>
            <input type="text" name="consulta" placeholder="Escriba su consulta" required>
         <input type="submit" value="Enviar">
        </form>
    </div>
    <img src="C:\Users\alber\OneDrive\Escritorio\Untitled Export" alt="">
</body>
</html>