<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Radal Aberturas</title>
  </head>
  <body>
    <div class="home producto-individual">
      <div class="navbar-radal">
        <img class="logo" src="../images/radal.png" />
        <a class="boton-navbar active" href="../layout/index.html">HOME</a>
        <a class="boton-navbar" href="../layout/quienes.html">QUIÉNES SOMOS</a>
        <a class="boton-navbar" href="./productos.html">PRODUCTOS</a>
        <a class="boton-navbar" href="../layout/contacto.html">CONTACTO</a>
        <div>
        <a class="link-facebook" href="https://www.facebook.com/radal.aberturasdealuminio" target="_blank"><i
            class="fa-brands fa-facebook facebook"></i></a>
        <a class=" link-whatsapp" href="https://wa.me/5492617459027" target="_blank">
          <i class="fa-brands fa-whatsapp whatsapp"></i>
        </a>
      </div>
      </div>
      <div class="contenido">
        <div class="carousel producto-individual">
          <div class="carousel-inner">
            <div class="carousel-item">
              <img src="../images/Productos x productos/mampara/WhatsApp Image 2024-07-18 at 17.44.44.jpeg" alt="Image 2" />
            </div>
            <div class="carousel-item">
              <img src="../images/Productos x productos/mampara/WhatsApp Image 2024-07-18 at 17.53.14.jpeg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/producto-individual/37.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/producto-individual/38.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/producto-individual/39.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/producto-individual/41.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/producto-individual/44.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/producto-individual/46.jpg" alt="Image 3" />
            </div>
          </div>
          <button class="carousel-control prev" onclick="prevSlide()">
            &#10094;
          </button>
          <button class="carousel-control next" onclick="nextSlide()">
            &#10095;
          </button>
        </div>
        <div class="texto">
          <div class="logo-p">
            <img class="imagen-logo" src="../images/marca.png" alt="" />
          </div>
          <div class="contenido-texto">
            <h5 class="categoria">Productos</h5>
            <h2 class="producto-titulo">Mampara de Baño</h2>
            <p class="primer-parrafo">
              Nuestras mamparas son el complemento ideal que estás buscando. Te brindamos una serie de beneficios que harán que tu experiencia en el baño sea mucho más placentera y cómoda.
            </p>
            <p class="segundo-parrafo">
              Nuestras mamparas son el complemento perfecto para tu baño, ofreciendo varios beneficios. Evitan salpicaduras y mantienen el suelo seco, además de proporcionar un diseño personalizado que se adapta a tu estilo. Ayudan a mantener el calor y el vapor dentro de la ducha, incrementando el confort. También mejoran la seguridad al evitar resbalones y accidentes, y ofrecen vidrios personalizables para privacidad y luz. Son fáciles de limpiar y añaden elegancia a tu baño. ¡Descubre cómo pueden transformar tu espacio!
              
            </p>
            <a href="../layout/productos.html"><h5 class="volver"><i class="fa-solid fa-arrow-left"></i> Volver</h5></a>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/scripts.js"></script>
  </body>
</html>