<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radal Aberturas</title>
    <link rel="icono" href="C:\Users\alber\OneDrive\Documentos\GitHub\Radal\marca.png">
</head>
<body>
    <div>
        <h4>Nuestra Empresa</h4>
    </div>
    <div>
        <H1>Quiénes Somos</H1>
    </div>
    <div>
        <h2>Con una sólida trayectoria en la región, nos especializamos en la fabricación y distribución de aberturas y cerramientos de aluminio con materiales de primera calidad.</h2>
    </div>
    <div>
        <p>Nuestro equipo de profesionales altamente capacitados está comprometido en brindarle un servicio excepcional, desde el asesoramiento técnico hasta el armado y colocación de los cerramientos, cuidando cada detalle para garantizar la plena satisfacción de nuestros clientes.

            Utilizando avanzadas herramientas de optimización de material, podemos confeccionar presupuestos precisos y competitivos, minimizando el desperdicio y ofreciendo cotizaciones atractivas en el mercado.
            
            Todas nuestras aberturas se fabrican a medida y bajo pedido, asegurando un ajuste perfecto a las necesidades de cada proyecto.
            
            Estamos aquí para responder cualquier consulta que pueda tener. No dude en ponerse en contacto con nosotros; estamos a su disposición para ayudarlo</p>
    </div>
    <div>
        <img src="marca.png" alt="logo">
    </div>
</body>
</html>