<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Radal Aberturas</title>
  <link rel="stylesheet" href="../styles/stylequienes.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    
</head>

<body>
  <div class="home producto-individual">
    <div class="navbar-radal">
      <img class="logo" src="../images/radal.png" />
      <a class="boton-navbar" href="../layout/index.html">HOME</a>
      <a class="boton-navbar active" href="../layout/quienes.html">QUIÉNES SOMOS</a>
      <a class="boton-navbar" href="./productos.html">PRODUCTOS</a>
      <a class="boton-navbar" href="../layout/contacto.html">CONTACTO</a>
      <a class="link-facebook" href="#"><i class="fa-brands fa-facebook facebook"></i></a>
    </div>
    <div class="contenido">
      <div class="carousel producto-quienesson">
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="../images/producto-individual/34.jpg" alt="Image 2" />
          </div>
          <div class="carousel-item">
            <img src="../images/producto-individual/36.jpg" alt="Image 3" />
          </div>
          <div class="carousel-item">
            <img src="../images/producto-individual/37.jpg" alt="Image 3" />
          </div>
          <div class="carousel-item">
            <img src="../images/producto-individual/38.jpg" alt="Image 3" />
          </div>
          <div class="carousel-item">
            <img src="../images/producto-individual/39.jpg" alt="Image 3" />
          </div>
          <div class="carousel-item">
            <img src="../images/producto-individual/41.jpg" alt="Image 3" />
          </div>
          <div class="carousel-item">
            <img src="../images/producto-individual/44.jpg" alt="Image 3" />
          </div>
          <div class="carousel-item">
            <img src="../images/producto-individual/46.jpg" alt="Image 3" />
          </div>
          <div class="carousel-item">
            <img src="../images/productos/10.jpg" alt="Image 3">
          </div>
          <div class="carousel-item">
            <img src="../images/productos/11.jpg" alt="Image 3">
          </div>
          <div class="carousel-item">
            <img src="../images/productos/12.jpg" alt="Image 3">
          </div>
          <div class="carousel-item">
            <img src="../images/productos/13.jpg" alt="Image 3">
          </div>
        </div>
        <button class="carousel-control prev" onclick="prevSlide()">
          &#10094;
        </button>
        <button class="carousel-control next" onclick="nextSlide()">
          &#10095;
        </button>
      </div>
    </div>
    <div class="texto">
      
      <div class="box">
        <div class="quienes-volanta">
          <h4 class="quienes-volanta">Nuestra Empresa</h4>
        </div>

        <div class="quienes-titulo">
          <h2 class="quienes-titulo">Quiénes Somos</h2>
        </div>


        <div class="quienes-bajada">
          <h4 class="quienes-bajada">Con una sólida trayectoria en la región, nos especializamos en la fabricación y distribución de
            aberturas y cerramientos de aluminio con materiales de primera calidad.</h4>
        </div>

        <div class="quienes-texto">
          <p>Nuestro equipo de profesionales altamente capacitados está comprometido en brindarle un servicio
            excepcional, desde el asesoramiento técnico hasta el armado y colocación de los cerramientos, cuidando
            cada detalle para garantizar la plena satisfacción de nuestros clientes.

            Utilizando avanzadas herramientas de optimización de material, podemos confeccionar presupuestos precisos
            y competitivos, minimizando el desperdicio y ofreciendo cotizaciones atractivas en el mercado.

            Todas nuestras aberturas se fabrican a medida y bajo pedido, asegurando un ajuste perfecto a las
            necesidades de cada proyecto.

            Estamos aquí para responder cualquier consulta que pueda tener. No dude en ponerse en contacto con
            nosotros; estamos a su disposición para ayudarlo</p>
        </div>
      </div>
    </div>
    <div class="logo-3">
      <img class="imagen-logo" src="../images/marca.png" alt="" />

    </div>
  </div>

  <script src="../js/scripts.js"></script>

</body>

</html>