<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Radal Aberturas</title>
  </head>
  <body>
    <div class="home producto-individual">
      <div class="navbar-radal">
        <img class="logo" src="../images/radal.png" />
        <a class="boton-navbar active" href="../layout/index.html">HOME</a>
        <a class="boton-navbar" href="../layout/quienes.html">QUIÉNES SOMOS</a>
        <a class="boton-navbar" href="./productos.html">PRODUCTOS</a>
        <a class="boton-navbar" href="../layout/contacto.html">CONTACTO</a>
        <div>
          <a class="link-facebook" href="https://www.facebook.com/radal.aberturasdealuminio" target="_blank"><i
              class="fa-brands fa-facebook facebook"></i></a>
          <a class=" link-whatsapp" href="https://wa.me/5492617459027" target="_blank">
            <i class="fa-brands fa-whatsapp whatsapp"></i>
          </a>
        </div>
      </div>
      <div class="contenido">
        <div class="carousel producto-individual">
          <div class="carousel-inner">
            <div class="carousel-item">
              <img src="../images/Productos x productos/ventanas/022.jpg" alt="Image 2" />
            </div>
            <div class="carousel-item">
              <img src="../images/Productos x productos/ventanas/256.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/Productos x productos/ventanas/275.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/Productos x productos/ventanas/COGGIOLA 106.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/Productos x productos/ventanas/Copia de RADAL TERCERA SALIDA 207.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/Productos x productos/ventanas/RADAL SEGUNDA SALIDA 166.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/Productos x productos/ventanas/RADAL TERCERA SALIDA 004.jpg" alt="Image 3" />
            </div>
            <div class="carousel-item">
              <img src="../images/Productos x productos/ventanas/WhatsApp Image 2024-07-12 at 15.21.32.jpg" alt="Image 3" />
            </div>
          </div>
          <button class="carousel-control prev" onclick="prevSlide()">
            &#10094;
          </button>
          <button class="carousel-control next" onclick="nextSlide()">
            &#10095;
          </button>
        </div>
        <div class="texto">
          <div class="logo-p">
            <img class="imagen-logo" src="../images/marca.png" alt="" />
          </div>
          <div class="contenido-texto">
            <h5 class="categoria">Productos</h5>
            <h2 class="producto-titulo">Ventanas</h2>
            <p class="primer-parrafo">
              Descubra nuestra amplia selección de ventanas con diseños y sistemas de apertura variados. Cada tipo de ventana está diseñado para integrarse armoniosamente en su proyecto, ofreciendo tanto estética como funcionalidad personalizada para satisfacer sus necesidades.
            </p>
            <p class="segundo-parrafo">
              Contamos con opciones en vidrios simples, seguridad y DVH (Doble Vidrio Hermético), asegurando así un ambiente seguro, confortable y eficiente energéticamente.
            </p>
            <a href="../layout/productos.html"><h5 class="volver"><i class="fa-solid fa-arrow-left"></i> Volver</h5></a>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/scripts.js"></script>
  </body>
</html>