body {
    font-family: "Carrois Gothic SC", sans-serif !important;
    background-color: #212121 !important;
}

.home {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    background-color: #2d2d2d;
}

.navbar-radal {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 2rem;
    width: 12%;
    height: 30rem;
}

.navbar-contacto {
    width: 16% !important;
}

.logo {
    margin-top: 10px;
    margin-bottom: 30px;
}

.boton-navbar {
    color: #999999;
    font-size: 11.3px;
    font-family: "Carrois Gothic SC", sans-serif;
    border: none;
    padding: 0;
    margin-top: 4px;
    height: 1.2rem;
    text-decoration: none;
    transition: color 0.5s;
}

.boton-navbar:hover {
    color: #dc2217;
}

.active {
    color: #dc2217;
}

.link-facebook {
    text-decoration: none;
    color: #999999;
}

.facebook {
    font-size: 20px;
    margin: 1.7rem 0.2rem;
    transition: color 0.5s;
}

.facebook:hover {
    color: #2a4ab3;
}

.link-whatsapp {
    text-decoration: none;
    color: #999999;
}

.whatsapp {
    font-size: 20px;
    margin: 1.7rem 0.2rem;
    transition: color 0.5s;
}

.whatsapp:hover {
    color: green;
}

.imagen {
    width: 30rem !important;
}

.logo-2 {
    display: flex;
    justify-content: end;
    width: 40%;
}

.imagen-logo {
    width: 4rem;
    height: 4rem;
    margin: 1.5rem;
}

.carousel {
    position: relative;
    max-width: 800px;
    overflow: hidden;
    border: none;
    width: 100%;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;

}

.carousel-item {
    min-width: 100%;
    transition: opacity 1s;
}

.carousel-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}



.carrusel {
    position: relative;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;

}

.carrusel-interior {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-item {
    min-width: 25%;
    /* 100% divided by 4 cards */
    box-sizing: border-box;

}

.tarjeta {
    background-color: #fff;
    overflow: hidden;
    margin: 10px;
    height: 20rem;
}

.tarjeta img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.tarjeta-texto {
    padding: 15px 0 0 13px;
    background-color: #fff;
    color: rgb(102, 102, 102);
    font-weight: 800;
    text-align: start;
    font-family: "Carrois Gothic SC", sans-serif !important;
}

.tarjeta-texto:hover {
    color: #dc2217;
}



.carrusel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carrusel-control.previo {
    left: 10px;
}

.carrusel-control.siguiente {
    right: 10px;
}

.parrafo {
    margin: 0.7rem;
    font-family: "Carrois Gothic SC", sans-serif !important;
    color: rgb(102, 102, 102);
    font-size: 12px;
}

.parrafo:hover {
    color: #dc2217;
}

.columna-2 {
    width: 100%;
}

.encabezado {
    display: flex;
    justify-content: space-between;
}


.productos-titulo {
    color: #dc2217;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin: 18px 0 20px 10px;
}

.contenido {
    width: 100%;
    height: 32rem;
    display: flex;
}

.box {
    padding: 10px 0px 0px 10px;
}

.logo-3 {
    width: 15%;
    display: flex;
    justify-content: end;
}

.contenido-texto {
    margin: 2rem;
    width: 24rem;
}

.logo-p {
    display: flex;
    justify-content: end;
}

.categoria {
    color: #dc2217;
}

.primer-parrafo {
    color: #666666;
}

.segundo-parrafo {
    color: #cccccc;
}

.volver {
    color: #dc2217;
}

.producto-titulo {
    color: #dc2217;
    font-weight: 300;
}

body a {
    text-decoration: none;
}

.tarjeta a:hover {
    color: #dc2217;
}

.titulo-producto:hover {
    color: #dc2217;
}

.contacto {
    display: flex;
    margin-top: 3rem;
    background-color: #2D2D2D;
}

.datos-contacto {
    margin-left: 3rem;
    margin-top: 2rem;
}

.bajada {
    color: #dc2217;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
}

.titulo-contacto {
    color: #dc2217;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

.texto-contacto {
    color: #666666;
    width: 70%;
}

.info {
    display: flex;
}

.titulos {
    color: #666666;
    font-size: 12px;
    font-weight: 300;
}

.datos {
    color: #ffff;
    line-height: 0.2;
    font-size: 12px;
    font-weight: 300;
}

.telefonos,
.direccion,
.email {
    margin-right: 1rem;
}

.divisor {
    height: 11rem;
    background-color: #666666;
    width: 1px;
    margin: 1rem;
}

.formulario {
    margin-top: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    width: 18rem;
    margin-left: 1rem;
}

.nombre-apellido {
    display: flex;
}

.cuadro-boton {
    display: flex;
    flex-direction: column;
}

.nombre,
.email-input,
.cuadro {
    background-color: #666666;
}

.nombre,
.email-input {
    width: 158px;
    border: none;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 4px 5px 2px;
}

.nombre::placeholder,
.email-input::placeholder,
.cuadro::placeholder {
    color: #ffff;
    font-family: "Carrois Gothic SC", sans-serif !important;
    font-size: 12px;
}

.cuadro {
    height: 6rem;
    width: 340px;
    border: none;
}

.cuadro::placeholder {
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
}


.boton {
    background-color: #666666;
    border: none;
    color: #fff;
    margin: 8px 0 0 56px;
    padding: 4px 5px 2px;
    width: 7rem;
    align-self: center;
}

@media (max-width: 600px) {
    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-radal {
        width: 40%;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 250px;
    }

    .boton-navbar {
        font-size: 15px;

    }

    .logo {
        width: 80px;
    }

    .logo-2 {
        align-self: center;
        align-items: center;
        justify-content: center;
    }

    .contenido {
        height: 17rem;
    }

    .encabezado {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .tarjeta {
        width: 25%;
        margin: 1rem 0 2rem 1.83rem;
    }

    .contacto {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-contacto {
        width: 80% !important;
    }

    .datos-contacto {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 4.3rem;
    }

    .contacto-texto {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texto-contacto {
        text-align: center;
    }

    .contenido {
        display: flex;
        flex-direction: column;
    }

    .carousel-item img {
        width: 20rem;
        height: auto;
        display: block;
    }

    .quienes-texto {
        font-size: 14px;
    }

    .imagen-logo {
        align-items: center;
        align-self: center;
        align-content: center;
    }

    .tarjeta .descripcion-producto .parrafo {
        font-size: 14px;
    }

    .info .telefonos .datos {
        line-height: 1.8;
    }

    .info .direccion .datos {
        line-height: 1.8;
    }

    .info {
        flex-direction: column;
        text-align: center;
    }

    .divisor {
        width: 16rem;
        height: 1px;
    }

    .titulos {
        font-size: 20px;
    }

    .datos {
        font-size: 16px;
    }

    .logo-4 {
        display: flex;
        justify-content: center;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .nombre-apellido {
        flex-direction: column;
    }

    .nombre,
    .email-input {
        width: 98%;
        height: 30px;
        margin-right: 8px;
    }

    .cuadro-boton {
        width: 100%;
    }

    .cuadro {
        height: 10rem;
        width: 100%;
        border: none;
    }

    .formulario {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-right: 0rem;
    }

    .boton {
        margin: 8px 0 0 8px;
        padding: 4px 5px 2px;
        width: 7rem;
        align-self: center;
    }

    .logo-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carousel-inner {
        height: 100%;
    }

    .producto-individual {
        display: flex;
        flex-direction: column;
    }

    .contenido {
        height: 55rem;
    }

    .texto {
        display: flex;
        flex-direction: column-reverse;
    }

    .contenido-texto {
        width: 80%;
    }

    .categoria,
    .producto-titulo,
    .primer-parrafo,
    .segundo-parrafo {
        width: 18rem;
    }

    .logo-p {
        justify-content: center;
    }
}

.carrusel-interior {
    display: flex;
    transition: transform 0.5s ease;
}

.carrusel-item {
    flex: 0 0 25%;
}

@media (max-width: 600px) {
    .carrusel-item {
        flex: 0 0 100%;
    }
}